
# Application Configuration
PORT=3000
NODE_ENV=development
APP_BASE_URL=http://localhost:3000


DB_HOST=your_database_host
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password

INFOBIP_BASE_URL=https://YOUR_API_BASE_URL.api.infobip.com
INFOBIP_AUTHORIZATION=App YOUR_INFOBIP_API_KEY_HERE
SMS_SENDER_NAME=YourSenderName


2FA_TIMEOUT=600000
